/* HEADER SECTION */
#header .logo-links-container {
    justify-content: space-between;
    padding-inline: 100px;
    gap: 30px
}

#header .logo-text {
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#header .list-links {
    gap: 20px;
}

#header .button-image-container {
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 100px;
    padding-inline: 100px;
}

#header .text-button-container {
    flex-direction: column;
    gap: 10px;
    width: 600px;
}

#header .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#header .signup-button {
    width: 100px;
    height: 35px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 7px;
}

#header .nasa-photo {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

#header .photo-attribution {
    color: #E5E7EB;
    text-align: end;
    padding-right: 100px;
    padding-bottom: 100px;
}

#header .attr-link {
    color: #3882f6;
    text-decoration: none;
}



/* INFO SECTION */
#info .random-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 50px;
}

#info .boxes-container {
    gap: 70px;
    padding-bottom: 100px;
    justify-content: center;
}

#info .box-and-text {
    flex-direction: column;
    align-items: center;
    width: 170px;
}

#info .box-border {
    width: 180px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

#info .box-text {
    text-align: center;
}



/* QUOTE SECTION */
#quote {
    flex-direction: column;
    padding-inline: 175px;
    padding-block: 100px;
}

#quote .inspirational-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

#quote .text-reference {
    text-align: end;
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    padding-right: 50px;
}



/* SIGNUP SECTION */




* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style: none;
}

body,
#header .logo-links-container,
#header .logo-text,
#header .list-links,
#header .button-image-container,
#header .text-button-container,
#info .boxes-container,
#info .box-and-text,
#quote {
    display: flex;
}

#header,
#footer {
    background-color: #1F2937;
}

#quote {
    background-color: #E5E7EB;
}

#secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}