/* HEADER SECTION */
#header {
    flex-direction: column;
    align-items: center;
}

#header .logo-links-container {
    justify-content: space-between;
    width: 1130px;
    padding-block-start: 10px;
}

#header .logo-text {
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#header .list-links {
    gap: 20px;
}

#header .button-image-container {
    align-items: center;
    gap: 30px;
    padding-block-start: 120px;
}

#header .text-button-container {
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

#header .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#header .nasa-photo {
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

#header .photo-attribution {
    width: 1130px;
    color: #E5E7EB;
    text-align: end;
    padding-block-end: 120px;
}

#header .attr-link {
    color: #3882f6;
    text-decoration: none;
}



/* INFO SECTION */
#info .random-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-block: 60px;
}

#info .boxes-container {
    gap: 70px;
    padding-block-end: 120px;
    justify-content: center;
}

#info .box-and-text {
    flex-direction: column;
    align-items: center;
    width: 170px;
}

#info .box-border {
    width: 180px;
    height: 200px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

#info .box-text {
    text-align: center;
}



/* QUOTE SECTION */
#quote {
    flex-direction: column;
    align-items: center;
    padding-block: 120px;
}

#quote .inspirational-text {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    width: 820px;
}

#quote .text-reference {
    text-align: end;
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    padding-inline-end: 80px;
    width: 820px;
}



/* SIGNUP SECTION */
#signup {
    justify-content: center;
    padding-block: 120px;
}

#signup .cta-box {
    display: flex;
    width: 1130px;
    border-radius: 10px;
    justify-content: center;
    gap: 150px;
    padding-block: 80px;
    background-color: #3882f6;
}



* {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style: none;
}

body,
#header,
#header .logo-links-container,
#header .logo-text,
#header .list-links,
#header .button-image-container,
#header .text-button-container,
#info .boxes-container,
#info .box-and-text,
#quote,
#signup {
    display: flex;
}

#header button,
#signup button {
    width: 130px;
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 10px;
    padding-block: 10px;
}

#header,
#footer {
    background-color: #1F2937;
}

#quote {
    background-color: #E5E7EB;
}

#secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}